html,
body {
    height: 100%;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(48, 47, 47);
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

nav {
    display: flex;
    justify-content: left;
    font-size: 20px;
    padding-left: 25%;
}

header {
    padding: auto;
    background-color: rgb(48, 47, 47);
}


/* Font  styles and positions  */

h1 {
    font-size: 35px;
    margin-top: 20px;
    text-align: center;
    padding: 15px;
    color: azure
}

h2 {
    font-size: 30px;
    color: black;
}

p {
    margin-top: 10px;
    color: azure;
    font-size: 25px;
    text-align: center;
}

nav a {
    color: azure
}

h3 {
    font-size: 40px;
}

.user p {
    color: black;
}

h4 {
    font-size: 30px;
    margin: auto;
    margin-top: inherit;
    text-align: center;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    width: max-content;
}

.ul {
    font-size: 15px;
}

#user-container p {
    flex-direction: column;
    display: flex;
    flex: auto;
}


/* format for sections  */

.wrapper-container {
    width: 50%;
    justify-content: center;
    text-align: center;
    height: 500px;
    background-color: rgb(48, 47, 47);
    margin-left: 25%;
    display: flex;
    flex-wrap: wrap;
}

.score-container {
    width: 50%;
    justify-content: center;
    background-color: rgb(48, 47, 47);
    margin-left: 25%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.questionContainer {
    width: 100%;
    justify-content: center;
    text-align: center;
    background-color: rgb(48, 47, 47);
}

.highscore-container {
    max-width: 100%;
    background-color: salmon;
    border-radius: 40px;
    padding: 10px;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .highscore-container {
        margin: auto;
        flex-direction: column;
        align-items: center;
    }
}

#question-container {
    max-width: 100%;
    background-color: salmon;
    margin: auto;
    border-radius: 6px;
    padding: 10px;
    font-size: 20px;
    height: auto
}

#user-container {
    max-width: 100%;
    background-color: salmon;
    margin: auto;
    border-radius: 6px;
    padding: 10px;
    font-size: 20px;
}

#score-history {
    height: fit-content;
    margin-left: 42%;
    width: fit-content;
    margin: auto;
}


/* Start Button Stlying  */

#start-btn {
    border-radius: 50px;
    padding: 50px;
    font-size: 30px;
    background-color: tan;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    ;
}

#clear-btn {
    margin-top: 10px;
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;
    width: fit-content;
    margin: auto;
    background-color: tan;
}

#start-btn:hover,
#clear-btn:hover {
    background-color: skyblue;
}


/* Submit Form Button and Styling */

#submit {
    border-radius: 5px;
    background-color: burlywood;
    padding: 10px;
}

#submit:hover {
    background-color: lightgreen;
}


/* Buttons and Stlying  */

.btn-grid {
    display: grid;
    gap: 10px;
    border: 5px;
    padding-top: 5px;
}

.btn {
    border-radius: 5px;
}

.btn:hover {
    background-color: skyblue;
}


/* hiding element so they dont display until Quiz starts or ends  */

.hide {
    display: none;
}