 html,
 body,
 .wrapper {
     height: 100%;
     margin: 0;
     padding: 0%;
 }
 
 body {
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     background-color: whitesmoke;
 }
 
 .wrapper {
     padding-top: 30px;
     padding-left: 20px;
     padding-right: 20px;
 }